@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }
  body main {
    background: #ffffff;
    width: 100%; }
    body main .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #ffffff;
      padding: 1rem;
      height: 7rem; }
      body main .header nav .label-menu, body main .header nav .checkbox {
        display: none; }
      body main .header nav .menu {
        list-style: none;
        display: flex;
        gap: 2rem;
        text-decoration: none; }
        body main .header nav .menu a {
          text-decoration: none;
          color: #000000;
          letter-spacing: 5px;
          font-size: 20px;
          font-family: 'Hind Madurai', sans-serif; }
        body main .header nav .menu a:hover {
          color: #800000;
          transition: 0.15s; }
    body main .welcoming__text {
      display: flex;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 5px;
      margin-top: 0px;
      line-height: 1.1;
      animation: changeBackgroundImage 21s infinite; }
      body main .welcoming__text .title1 {
        font-size: 100px;
        margin-left: 210px;
        margin-top: 175px;
        margin-bottom: 175px;
        text-align: center;
        width: 70%;
        font-family: 'Hind Madurai', sans-serif;
        letter-spacing: 6px;
        color: white; }
      body main .welcoming__text .title1 {
        text-shadow: 1px 6px 28px black; }

@keyframes changeBackgroundImage {
  0% {
    background-image: url("../images/couple2.jpg"); }
  33% {
    background-image: url("../images/couple.jpg"); }
  66% {
    background-image: url("../images/couple3.jpg"); }
  100% {
    background-image: url("../images/couple2.jpg"); } }
    body main .whats__on {
      font-size: 70px;
      font-family: 'Hind Madurai', sans-serif;
      color: #7e1414;
      margin-left: 80px;
      margin-top: 40px;
      letter-spacing: 10px; }
    body main .marketing1 {
      display: flex;
      margin-top: 20px;
      margin-left: 70px;
      margin-right: 85px;
      width: 100%; }
      body main .marketing1 .poster1 {
        width: 400px;
        height: 400px; }
      body main .marketing1 .text__poster1 .titleP1 {
        font-size: 50px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        margin-top: 7.5px;
        text-align: left;
        margin-left: 25px;
        color: black;
        letter-spacing: 10px; }
      body main .marketing1 .text__poster1 .subtitleP1 {
        color: #a1a04c;
        font-family: 'Raleway', sans-serif;
        font-size: 25px;
        font-weight: bold;
        margin-top: 15px;
        line-height: 1.4;
        width: 80%;
        text-align: justify;
        margin-left: 25px; }
      body main .marketing1 .text__poster1 .description1 {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        width: 80%;
        text-align: left;
        line-height: 1.6;
        margin-left: -2px;
        margin-top: 0px;
        text-align: justify;
        margin-left: 25px; }
      body main .marketing1 .text__poster1 .button .btn1 {
        border: none;
        padding: 11px 40px 10px 40px;
        background: #d1d35e;
        font-family: 'Hind Madurai', sans-serif;
        font-size: 23px;
        color: black;
        letter-spacing: 3px;
        margin-left: 1px;
        margin-top: 25px;
        cursor: pointer;
        width: 40%;
        margin-left: 25px; }
      body main .marketing1 .text__poster1 .button .btn1:hover {
        background: #9b9b9b;
        transition: 0.30s;
        transform: scale(1.05); }
      body main .marketing1 .text__poster1 .button .btn2 {
        border: none;
        padding: 14px 40px 12px 40px;
        background: #a01f1f;
        font-family: 'Hind Madurai', sans-serif;
        font-size: 20px;
        color: white;
        letter-spacing: 3px;
        margin-left: 1px;
        margin-top: -10px;
        cursor: pointer;
        width: 40%;
        margin-left: 10px; }
      body main .marketing1 .text__poster1 .button .btn2:hover {
        background: #5ec466;
        transition: 0.30s;
        transform: scale(1.05); }
    body main .hr2 {
      border: 0;
      height: 2px;
      background-image: linear-gradient(to right, transparent, #a1a04c, transparent);
      margin-top: 35px; }
    body main .marketing2 {
      display: flex;
      margin-top: 45px;
      margin-left: 70px;
      margin-right: 85px;
      width: 100%; }
      body main .marketing2 .poster2 {
        width: 400px;
        height: 400px; }
      body main .marketing2 .text__poster2 .titleP2 {
        font-size: 50px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        margin-top: 10px;
        text-align: left;
        margin-left: 25px;
        color: black;
        letter-spacing: 10px; }
      body main .marketing2 .text__poster2 .subtitleP2 {
        color: #a1a04c;
        font-family: 'Raleway', sans-serif;
        font-size: 25px;
        font-weight: bold;
        margin-top: 15px;
        line-height: 1.4;
        width: 80%;
        text-align: justify;
        margin-left: 25px; }
      body main .marketing2 .text__poster2 .description2 {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        width: 80%;
        text-align: left;
        line-height: 1.6;
        margin-left: -2px;
        margin-top: 0px;
        text-align: justify;
        margin-left: 25px; }
      body main .marketing2 .text__poster2 .button .btn1 {
        border: none;
        padding: 11px 40px 10px 40px;
        background: #d1d35e;
        font-family: 'Hind Madurai', sans-serif;
        font-size: 23px;
        color: black;
        letter-spacing: 3px;
        margin-left: 1px;
        margin-top: 25px;
        cursor: pointer;
        width: 40%;
        margin-left: 25px; }
      body main .marketing2 .text__poster2 .button .btn1:hover {
        background: #9b9b9b;
        transition: 0.30s;
        transform: scale(1.05); }
      body main .marketing2 .text__poster2 .button .btn2 {
        border: none;
        padding: 14px 40px 12px 40px;
        background: #a01f1f;
        font-family: 'Hind Madurai', sans-serif;
        font-size: 20px;
        color: white;
        letter-spacing: 3px;
        margin-left: 1px;
        margin-top: -10px;
        cursor: pointer;
        width: 40%;
        margin-left: 10px; }
      body main .marketing2 .text__poster2 .button .btn2:hover {
        background: #5ec466;
        transition: 0.30s;
        transform: scale(1.05); }
    body main .hr3 {
      border: 0;
      height: 2px;
      background-image: linear-gradient(to right, transparent, #a1a04c, transparent);
      margin-top: 35px; }
    body main .marketing3 {
      display: flex;
      margin-top: 45px;
      margin-left: 70px;
      margin-right: 85px;
      width: 100%; }
      body main .marketing3 .poster3 {
        width: 400px;
        height: 400px; }
      body main .marketing3 .text__poster3 .titleP3 {
        font-size: 50px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        margin-top: 40px;
        text-align: left;
        margin-left: 25px;
        color: black;
        letter-spacing: 10px; }
      body main .marketing3 .text__poster3 .subtitleP3 {
        color: #a1a04c;
        font-family: 'Raleway', sans-serif;
        font-size: 25px;
        font-weight: bold;
        margin-top: 15px;
        line-height: 1.4;
        width: 80%;
        text-align: justify;
        margin-left: 25px; }
      body main .marketing3 .text__poster3 .description3 {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        width: 80%;
        text-align: left;
        line-height: 1.6;
        margin-left: -2px;
        margin-top: 0px;
        text-align: justify;
        margin-left: 25px; }
      body main .marketing3 .text__poster3 .button .btn1 {
        border: none;
        padding: 11px 40px 10px 40px;
        background: #d1d35e;
        font-family: 'Hind Madurai', sans-serif;
        font-size: 23px;
        color: black;
        letter-spacing: 3px;
        margin-left: 1px;
        margin-top: 25px;
        cursor: pointer;
        width: 40%;
        margin-left: 25px; }
      body main .marketing3 .text__poster3 .button .btn1:hover {
        background: #9b9b9b;
        transition: 0.30s;
        transform: scale(1.05); }
      body main .marketing3 .text__poster3 .button .btn2 {
        border: none;
        padding: 14px 40px 12px 40px;
        background: #a01f1f;
        font-family: 'Hind Madurai', sans-serif;
        font-size: 20px;
        color: white;
        letter-spacing: 3px;
        margin-left: 1px;
        margin-top: -10px;
        cursor: pointer;
        width: 40%;
        margin-left: 10px; }
      body main .marketing3 .text__poster3 .button .btn2:hover {
        background: #5ec466;
        transition: 0.30s;
        transform: scale(1.05); }
    body main .hr4 {
      border: 0;
      height: 2px;
      background-image: linear-gradient(to right, transparent, #a1a04c, transparent);
      margin-top: 35px; }
    body main .marketing4 {
      display: flex;
      margin-top: 45px;
      margin-left: 70px;
      margin-right: 85px;
      width: 100%; }
      body main .marketing4 .poster4 {
        width: 400px;
        height: 400px; }
      body main .marketing4 .text__poster4 .titleP4 {
        font-size: 50px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        margin-top: 10px;
        text-align: left;
        margin-left: 25px;
        color: black;
        letter-spacing: 10px; }
      body main .marketing4 .text__poster4 .subtitleP4 {
        color: #a1a04c;
        font-family: 'Raleway', sans-serif;
        font-size: 25px;
        font-weight: bold;
        margin-top: 15px;
        line-height: 1.4;
        width: 80%;
        text-align: justify;
        margin-left: 25px; }
      body main .marketing4 .text__poster4 .description4 {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        width: 80%;
        text-align: left;
        line-height: 1.6;
        margin-left: -2px;
        margin-top: 0px;
        text-align: justify;
        margin-left: 25px; }
      body main .marketing4 .text__poster4 .button .btn1 {
        border: none;
        padding: 11px 40px 10px 40px;
        background: #d1d35e;
        font-family: 'Hind Madurai', sans-serif;
        font-size: 23px;
        color: black;
        letter-spacing: 3px;
        margin-left: 1px;
        margin-top: 25px;
        cursor: pointer;
        width: 40%;
        margin-left: 25px; }
      body main .marketing4 .text__poster4 .button .btn1:hover {
        background: #9b9b9b;
        transition: 0.30s;
        transform: scale(1.05); }
      body main .marketing4 .text__poster4 .button .btn2 {
        border: none;
        padding: 14px 40px 12px 40px;
        background: #a01f1f;
        font-family: 'Hind Madurai', sans-serif;
        font-size: 20px;
        color: white;
        letter-spacing: 3px;
        margin-left: 1px;
        margin-top: -10px;
        cursor: pointer;
        width: 40%;
        margin-left: 10px; }
      body main .marketing4 .text__poster4 .button .btn2:hover {
        background: #5ec466;
        transition: 0.30s;
        transform: scale(1.05); }
    body main .dancers__text {
      display: flex;
      color: #ffffff;
      width: 100%;
      background: url("../images/dancers.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      padding: 2px;
      line-height: 1.1;
      margin-top: 65px; }
      body main .dancers__text .title2 {
        font-size: 100px;
        margin: 0 auto;
        margin-top: 70px;
        margin-bottom: 70px;
        text-align: left;
        width: 55%;
        font-family: 'Hind Madurai', sans-serif;
        letter-spacing: 6px;
        margin-left: 85px;
        text-shadow: 1px 6px 56px black;
        color: #ffffff; }
      body main .dancers__text .title2 {
        text-shadow: 1px 6px 28px black; }
    body main .info {
      display: flex; }
      body main .info .working__time {
        display: block;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        justify-content: space-around;
        text-align: center;
        line-height: 1.6;
        color: #000000;
        padding: 30px;
        width: 30%;
        margin: 0 auto;
        margin-top: 65px;
        background: #dfdfdf;
        border-radius: 20px;
        box-shadow: 1px 2px 6px #aaaaaa;
        margin-left: 30px; }
        body main .info .working__time .info__title {
          color: #a01f1f;
          font-weight: bold;
          font-size: 38px; }
      body main .info .address {
        display: block;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        justify-content: space-around;
        text-align: center;
        line-height: 1.6;
        color: #000000;
        padding: 30px;
        width: 30%;
        margin: 0 auto;
        margin-top: 65px;
        background: #dfdfdf;
        border-radius: 20px;
        box-shadow: 1px 2px 6px #aaaaaa;
        margin-left: 0px;
        margin-bottom: 0px; }
        body main .info .address .info__title {
          color: #a01f1f;
          font-weight: bold;
          font-size: 38px; }
      body main .info .contacting {
        display: block;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        justify-content: space-around;
        text-align: center;
        line-height: 1.6;
        color: #000000;
        padding: 30px;
        width: 30%;
        margin: 0 auto;
        margin-top: 65px;
        background: #dfdfdf;
        border-radius: 20px;
        box-shadow: 1px 2px 6px #aaaaaa;
        margin-left: 0px; }
        body main .info .contacting .info__title {
          color: #a01f1f;
          font-weight: bold;
          font-size: 38px; }
    body main .hr5 {
      border: 0;
      height: 2px;
      background-image: linear-gradient(to right, transparent, #a1a04c, transparent);
      margin-top: 35px; }
    body main .review__session .review__title {
      font-size: 70px;
      font-family: 'Hind Madurai', sans-serif;
      color: #7e1414;
      margin-left: 80px;
      margin-top: 35px;
      letter-spacing: 10px; }
    body main .review__box {
      margin-top: -20px;
      width: 100%; }
      body main .review__box .warning {
        color: #686868;
        font-family: 'Raleway', sans-serif;
        font-size: 35px;
        font-weight: bold;
        margin-top: -10px;
        line-height: 1.4;
        width: 90%;
        text-align: left;
        margin-left: 80px; }
    body main .reviews {
      display: flex;
      direction: column;
      justify-content: center;
      margin-top: 10px;
      font-family: 'Montserrat', sans-serif;
      margin-left: 105px;
      margin-right: 10px;
      width: 85%; }
      body main .reviews .review .comment {
        background: #41849e;
        border-radius: 15px;
        padding: 25px;
        text-align: left;
        font-size: 20px;
        line-height: 1.4;
        color: #ffffff;
        width: 95%;
        box-shadow: 1px 2px 6px #a7a7a7;
        font-weight: bold; }
    body main .hr6 {
      border: 0;
      height: 2px;
      background-image: linear-gradient(to right, transparent, #a1a04c, transparent);
      margin-top: 35px; }
    body main .whatsnext__container {
      background: #eaebac;
      padding: 10px;
      width: 100%;
      padding-bottom: 90px;
      margin-top: -17.5px; }
      body main .whatsnext__container .whatsnext__title {
        font-size: 70px;
        font-family: 'Hind Madurai', sans-serif;
        color: #7e1414;
        margin-left: 80px;
        margin-top: 30px;
        letter-spacing: 10px; }
      body main .whatsnext__container .whatsnext__title2 {
        color: #686868;
        font-family: 'Raleway', sans-serif;
        font-size: 35px;
        font-weight: bold;
        margin-top: -25px;
        line-height: 1.4;
        width: 80%;
        text-align: justify;
        margin-left: 82.5px; }
      body main .whatsnext__container .whatsnext__box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50vh 50vh;
        grid-gap: 15px;
        top: 10px;
        padding: 15px;
        width: 95%;
        position: relative;
        margin: 0 auto; }
        body main .whatsnext__container .whatsnext__box .show1 {
          background: url("../images/img2.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 10px;
          font-size: 24px;
          padding-left: 25px;
          padding-top: 20px;
          font-weight: bold;
          font-family: 'Raleway', sans-serif;
          color: white; }
        body main .whatsnext__container .whatsnext__box .show1:hover {
          transform: scale(1.025);
          transition: 0.5s;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
          cursor: pointer; }
        body main .whatsnext__container .whatsnext__box .show2 {
          background: url("../images/img7.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          grid-column: 2/4;
          font-size: 24px;
          padding-left: 25px;
          padding-top: 20px;
          font-weight: bold;
          font-family: 'Raleway', sans-serif;
          color: white;
          border-radius: 10px; }
        body main .whatsnext__container .whatsnext__box .show2:hover {
          transform: scale(1.025);
          transition: 0.5s;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
          cursor: pointer; }
        body main .whatsnext__container .whatsnext__box .show3 {
          background: url("../images/img3.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 10px;
          font-size: 24px;
          padding-left: 25px;
          padding-top: 20px;
          font-weight: bold;
          font-family: 'Raleway', sans-serif;
          color: white; }
        body main .whatsnext__container .whatsnext__box .show3:hover {
          transform: scale(1.025);
          transition: 0.5s;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
          cursor: pointer; }
        body main .whatsnext__container .whatsnext__box .show4 {
          grid-column: 1/3;
          background: url("../images/img4.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 10px;
          font-size: 24px;
          padding-left: 25px;
          padding-top: 20px;
          font-weight: bold;
          font-family: 'Raleway', sans-serif;
          color: black; }
        body main .whatsnext__container .whatsnext__box .show4:hover {
          transform: scale(1.025);
          transition: 0.5s;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
          cursor: pointer; }
        body main .whatsnext__container .whatsnext__box .show5 {
          background: url("../images/img6.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          grid-column: 3/5;
          font-size: 24px;
          padding-left: 25px;
          padding-top: 20px;
          font-weight: bold;
          font-family: 'Raleway', sans-serif;
          color: white;
          border-radius: 10px; }
        body main .whatsnext__container .whatsnext__box .show5:hover {
          transform: scale(1.025);
          transition: 0.5s;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
          cursor: pointer; }
      body main .whatsnext__container .whatsnext__box__mobile {
        display: none; }
    body main footer {
      position: relative;
      justify-content: space-evenly;
      background: #cacaca;
      height: 150px;
      display: flex;
      align-items: center;
      font-size: 17px;
      font-weight: 700;
      color: #000000;
      font-family: 'Hind Madurai', sans-serif;
      gap: 50px;
      margin-top: 0px; }
      body main footer .navUl {
        width: 500px;
        position: relative;
        left: 65px;
        top: 50px; }
        body main footer .navUl #menuFooter {
          gap: 15px;
          margin-left: -40px; }
          body main footer .navUl #menuFooter .listaFooter {
            display: flex;
            gap: 30px;
            position: relative;
            top: -40px;
            margin-left: -20px;
            list-style: none;
            text-align: center; }
            body main footer .navUl #menuFooter .listaFooter .links__footer {
              transition: 0.15s ease-in;
              text-decoration: none;
              color: #000000;
              font-size: 18px;
              letter-spacing: 0; }
            body main footer .navUl #menuFooter .listaFooter .links__footer:hover {
              color: #7e1414;
              cursor: pointer; }
      body main footer .div__footer {
        width: 500px; }
        body main footer .div__footer .pFooter {
          line-height: 1.4;
          margin-top: 20px; }

@media screen and (max-width: 720px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  body {
    overflow-x: hidden; }
    body main {
      background: #ffffff;
      width: 100%; }
      body main .header nav .label-menu {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #000000;
        padding-block: 1rem;
        cursor: pointer; }
        body main .header nav .label-menu .hamburguer {
          border-top: 0.125rem solid;
          width: 1.25rem; }
        body main .header nav .label-menu .hamburguer::before, body main .header nav .label-menu .hamburguer::after {
          content: "";
          display: block;
          width: 1.25rem;
          height: 0.125rem;
          background: currentColor;
          margin-top: 0.3125rem;
          position: relative;
          transition: 0.3s; }
      body main .header nav .menu {
        display: block;
        position: absolute;
        top: 7rem;
        text-align: center;
        background: #ffffff;
        width: 100%;
        left: 0;
        height: 0;
        z-index: 1;
        transition: 0.5s;
        visibility: hidden;
        overflow-y: hidden; }
        body main .header nav .menu ul li a {
          padding: 0.5rem 0;
          margin-inline: 1rem;
          border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
          border-radius: 0; }
      body main .header nav .checkbox:checked ~ .menu {
        height: calc(110vh - 6rem);
        visibility: visible;
        overflow-y: auto; }
      body main .header nav .checkbox:checked ~ .label-menu .hamburguer {
        border-top-color: transparent; }
      body main .header nav .checkbox:checked ~ .label-menu .hamburguer::before {
        transform: rotate(135deg); }
      body main .header nav .checkbox:checked ~ .label-menu .hamburguer::after {
        transform: rotate(-135deg);
        top: -0.4375rem; }
      body main .welcoming__text {
        display: flex;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5px;
        margin-top: 0px;
        line-height: 1.1;
        animation: changeBackgroundImage 21s infinite; }
        body main .welcoming__text .title1 {
          font-size: 35px;
          margin-left: 125px;
          margin-top: 25px;
          margin-bottom: 25px;
          margin-right: 25px;
          text-align: right;
          width: 65%;
          font-family: 'Hind Madurai', sans-serif;
          letter-spacing: 4.5px;
          color: white; }
        body main .welcoming__text .title1 {
          text-shadow: 1px 6px 28px black; }
  @keyframes changeBackgroundImage {
    0% {
      background-image: url("../images/couple2.jpg"); }
    33% {
      background-image: url("../images/couple.jpg"); }
    66% {
      background-image: url("../images/couple3.jpg"); }
    100% {
      background-image: url("../images/couple2.jpg"); } }
      body main .whats__on {
        font-size: 40px;
        font-family: 'Hind Madurai', sans-serif;
        color: #7e1414;
        margin-left: 45px;
        margin-top: 35px;
        letter-spacing: 7.5px; }
      body main .marketing1 {
        display: block;
        margin-top: 20px;
        margin-left: 22.5px;
        width: 100%; }
        body main .marketing1 .poster1 {
          width: 400px;
          height: 400px; }
        body main .marketing1 .text__poster1 .titleP1 {
          font-size: 45px;
          font-family: 'Raleway', sans-serif;
          font-weight: bold;
          margin-top: 20px;
          text-align: left;
          margin-left: 25px;
          color: black;
          letter-spacing: 10px; }
        body main .marketing1 .text__poster1 .subtitleP1 {
          color: #a1a04c;
          font-family: 'Raleway', sans-serif;
          font-size: 25px;
          font-weight: bold;
          margin-top: 15px;
          line-height: 1.4;
          width: 80%;
          text-align: justify;
          margin-left: 25px; }
        body main .marketing1 .text__poster1 .description1 {
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          width: 80%;
          text-align: left;
          line-height: 1.8;
          margin-left: 0px;
          margin-top: -15px;
          text-align: justify;
          margin-left: 25px; }
        body main .marketing1 .text__poster1 .button {
          display: flex;
          flex-direction: column; }
          body main .marketing1 .text__poster1 .button .btn1 {
            border: none;
            padding: 11px 40px 10px 40px;
            background: #d1d35e;
            font-family: 'Hind Madurai', sans-serif;
            font-size: 23px;
            color: black;
            letter-spacing: 3px;
            margin-left: 25px;
            margin-top: 25px;
            cursor: pointer;
            width: 80%; }
          body main .marketing1 .text__poster1 .button .btn1:hover {
            background: #9b9b9b;
            transition: 0.30s;
            transform: scale(1.05); }
          body main .marketing1 .text__poster1 .button .btn2 {
            border: none;
            padding: 14px 40px 12px 40px;
            background: #a01f1f;
            font-family: 'Hind Madurai', sans-serif;
            font-size: 20px;
            color: white;
            letter-spacing: 3px;
            margin-left: 25px;
            margin-top: 10px;
            cursor: pointer;
            width: 80%; }
          body main .marketing1 .text__poster1 .button .btn2:hover {
            background: #5ec466;
            transition: 0.30s;
            transform: scale(1.05); }
      body main .hr2 {
        border: 0;
        height: 2px;
        background-image: linear-gradient(to right, transparent, #a1a04c, transparent);
        margin-top: 20px; }
      body main .marketing2 {
        display: block;
        margin-top: 20px;
        margin-left: 22.5px;
        width: 100%; }
        body main .marketing2 .poster2 {
          width: 400px;
          height: 400px; }
        body main .marketing2 .text__poster2 .titleP2 {
          font-size: 40px;
          font-family: 'Raleway', sans-serif;
          font-weight: bold;
          margin-top: 20px;
          text-align: left;
          margin-left: 25px;
          color: black;
          letter-spacing: 10px; }
        body main .marketing2 .text__poster2 .subtitleP2 {
          color: #a1a04c;
          font-family: 'Raleway', sans-serif;
          font-size: 25px;
          font-weight: bold;
          margin-top: 15px;
          line-height: 1.4;
          width: 80%;
          text-align: justify;
          margin-left: 25px; }
        body main .marketing2 .text__poster2 .description2 {
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          width: 80%;
          text-align: left;
          line-height: 1.8;
          margin-left: 0px;
          margin-top: -15px;
          text-align: justify;
          margin-left: 25px; }
        body main .marketing2 .text__poster2 .button {
          display: flex;
          flex-direction: column; }
          body main .marketing2 .text__poster2 .button .btn1 {
            border: none;
            padding: 11px 40px 10px 40px;
            background: #d1d35e;
            font-family: 'Hind Madurai', sans-serif;
            font-size: 23px;
            color: black;
            letter-spacing: 3px;
            margin-left: 25px;
            margin-top: 25px;
            cursor: pointer;
            width: 80%; }
          body main .marketing2 .text__poster2 .button .btn1:hover {
            background: #9b9b9b;
            transition: 0.30s;
            transform: scale(1.05); }
          body main .marketing2 .text__poster2 .button .btn2 {
            border: none;
            padding: 14px 40px 12px 40px;
            background: #a01f1f;
            font-family: 'Hind Madurai', sans-serif;
            font-size: 20px;
            color: white;
            letter-spacing: 3px;
            margin-left: 25px;
            margin-top: 10px;
            cursor: pointer;
            width: 80%; }
          body main .marketing2 .text__poster2 .button .btn2:hover {
            background: #5ec466;
            transition: 0.30s;
            transform: scale(1.05); }
      body main .hr3 {
        border: 0;
        height: 2px;
        background-image: linear-gradient(to right, transparent, #a1a04c, transparent);
        margin-top: 20px; }
      body main .marketing3 {
        display: block;
        margin-top: 20px;
        margin-left: 22.5px;
        width: 100%; }
        body main .marketing3 .poster3 {
          width: 400px;
          height: 400px; }
        body main .marketing3 .text__poster3 .titleP3 {
          font-size: 45px;
          font-family: 'Raleway', sans-serif;
          font-weight: bold;
          margin-top: 20px;
          text-align: left;
          margin-left: 25px;
          color: black;
          letter-spacing: 10px; }
        body main .marketing3 .text__poster3 .subtitleP3 {
          color: #a1a04c;
          font-family: 'Raleway', sans-serif;
          font-size: 25px;
          font-weight: bold;
          margin-top: 15px;
          line-height: 1.4;
          width: 80%;
          text-align: justify;
          margin-left: 25px; }
        body main .marketing3 .text__poster3 .description3 {
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          width: 80%;
          text-align: left;
          line-height: 1.8;
          margin-left: 0px;
          margin-top: -15px;
          text-align: justify;
          margin-left: 25px; }
        body main .marketing3 .text__poster3 .button {
          display: flex;
          flex-direction: column; }
          body main .marketing3 .text__poster3 .button .btn1 {
            border: none;
            padding: 11px 40px 10px 40px;
            background: #d1d35e;
            font-family: 'Hind Madurai', sans-serif;
            font-size: 23px;
            color: black;
            letter-spacing: 3px;
            margin-left: 25px;
            margin-top: 25px;
            cursor: pointer;
            width: 80%; }
          body main .marketing3 .text__poster3 .button .btn1:hover {
            background: #9b9b9b;
            transition: 0.30s;
            transform: scale(1.05); }
          body main .marketing3 .text__poster3 .button .btn2 {
            border: none;
            padding: 14px 40px 12px 40px;
            background: #a01f1f;
            font-family: 'Hind Madurai', sans-serif;
            font-size: 20px;
            color: white;
            letter-spacing: 3px;
            margin-left: 25px;
            margin-top: 10px;
            cursor: pointer;
            width: 80%; }
          body main .marketing3 .text__poster3 .button .btn2:hover {
            background: #5ec466;
            transition: 0.30s;
            transform: scale(1.05); }
      body main .hr4 {
        border: 0;
        height: 2px;
        background-image: linear-gradient(to right, transparent, #a1a04c, transparent);
        margin-top: 20px; }
      body main .marketing4 {
        display: block;
        margin-top: 20px;
        margin-left: 22.5px;
        width: 100%; }
        body main .marketing4 .poster4 {
          width: 400px;
          height: 400px; }
        body main .marketing4 .text__poster4 .titleP4 {
          font-size: 40px;
          font-family: 'Raleway', sans-serif;
          font-weight: bold;
          margin-top: 20px;
          text-align: left;
          margin-left: 25px;
          color: black;
          letter-spacing: 10px; }
        body main .marketing4 .text__poster4 .subtitleP4 {
          color: #a1a04c;
          font-family: 'Raleway', sans-serif;
          font-size: 25px;
          font-weight: bold;
          margin-top: 15px;
          line-height: 1.4;
          width: 80%;
          text-align: justify;
          margin-left: 25px; }
        body main .marketing4 .text__poster4 .description4 {
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          width: 80%;
          text-align: left;
          line-height: 1.8;
          margin-left: 0px;
          margin-top: -15px;
          text-align: justify;
          margin-left: 25px; }
        body main .marketing4 .text__poster4 .button {
          display: flex;
          flex-direction: column; }
          body main .marketing4 .text__poster4 .button .btn1 {
            border: none;
            padding: 11px 40px 10px 40px;
            background: #d1d35e;
            font-family: 'Hind Madurai', sans-serif;
            font-size: 23px;
            color: black;
            letter-spacing: 3px;
            margin-left: 25px;
            margin-top: 25px;
            cursor: pointer;
            width: 80%; }
          body main .marketing4 .text__poster4 .button .btn1:hover {
            background: #9b9b9b;
            transition: 0.30s;
            transform: scale(1.05); }
          body main .marketing4 .text__poster4 .button .btn2 {
            border: none;
            padding: 14px 40px 12px 40px;
            background: #a01f1f;
            font-family: 'Hind Madurai', sans-serif;
            font-size: 20px;
            color: white;
            letter-spacing: 3px;
            margin-left: 25px;
            margin-top: 10px;
            cursor: pointer;
            width: 80%; }
          body main .marketing4 .text__poster4 .button .btn2:hover {
            background: #5ec466;
            transition: 0.30s;
            transform: scale(1.05); }
      body main .dancers__text {
        display: block;
        width: 100%;
        background: url("../images/dancers.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5px;
        line-height: 1.1;
        margin-top: 55px; }
        body main .dancers__text .title2 {
          font-size: 40px;
          margin: 0 auto;
          margin-top: 25px;
          margin-bottom: 25px;
          text-align: left;
          width: 80%;
          font-family: 'Hind Madurai', sans-serif;
          letter-spacing: 4.5px;
          margin-left: 25px;
          text-shadow: 3px 7px 56px black;
          color: #ffffff; }
        body main .dancers__text .title2 {
          text-shadow: 1px 6px 28px black; }
      body main .info {
        display: flex;
        flex-direction: column; }
        body main .info .working__time {
          display: block;
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          justify-content: space-around;
          text-align: center;
          line-height: 1.8;
          color: #000000;
          padding: 30px;
          width: 85%;
          margin: 0 auto;
          margin-top: 65px;
          background: #dfdfdf;
          border-radius: 20px;
          box-shadow: 1px 2px 6px #aaaaaa;
          margin-left: 35px; }
          body main .info .working__time .info__title {
            color: #a01f1f;
            font-weight: bold;
            font-size: 33px; }
        body main .info .address {
          display: block;
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          justify-content: space-around;
          text-align: center;
          line-height: 1.8;
          color: #000000;
          padding: 30px;
          width: 85%;
          margin: 0 auto;
          margin-top: 15px;
          background: #dfdfdf;
          border-radius: 20px;
          box-shadow: 1px 2px 6px #aaaaaa;
          margin-left: 35px;
          margin-bottom: 0px; }
          body main .info .address .info__title {
            color: #a01f1f;
            font-weight: bold;
            font-size: 33px; }
        body main .info .contacting {
          display: block;
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          justify-content: space-around;
          text-align: center;
          line-height: 1.8;
          color: #000000;
          padding: 30px;
          width: 85%;
          margin: 0 auto;
          margin-top: 15px;
          background: #dfdfdf;
          border-radius: 20px;
          box-shadow: 1px 2px 6px #aaaaaa;
          margin-left: 35px; }
          body main .info .contacting .info__title {
            color: #a01f1f;
            font-weight: bold;
            font-size: 33px; }
      body main .hr5 {
        border: 0;
        height: 2px;
        background-image: linear-gradient(to right, transparent, #a1a04c, transparent);
        margin-top: 20px; }
      body main .review__session .review__title {
        font-size: 40px;
        font-family: 'Hind Madurai', sans-serif;
        color: #7e1414;
        margin-left: 45px;
        margin-top: 35px;
        letter-spacing: 7.5px; }
      body main .review__box {
        margin-top: -20px;
        width: 100%; }
        body main .review__box .warning {
          margin-top: -35px;
          margin-left: 25px;
          text-align: left;
          width: 90%;
          line-height: 1.4;
          color: #5c5c5c;
          padding: 20px;
          background: #ffffff;
          font-family: 'Raleway', sans-serif;
          font-size: 23px; }
      body main .stars__img {
        width: 200px; }
      body main .reviews {
        display: block;
        justify-content: center;
        margin-top: -20px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 45px;
        margin-right: 10px;
        width: 85%; }
        body main .reviews .review .comment {
          background: #41849e;
          border-radius: 15px;
          padding: 25px;
          text-align: left;
          font-size: 20px;
          line-height: 1.4;
          color: #ffffff;
          width: 95%;
          box-shadow: 1px 2px 6px #a7a7a7;
          font-weight: bold; }
      body main .hr6 {
        border: 0;
        height: 2px;
        background-image: linear-gradient(to right, transparent, #a1a04c, transparent);
        margin-top: 10px; }
      body main .whatsnext__container {
        background: white;
        padding: 5px;
        width: 100%;
        height: 550px;
        margin-top: -17.5px;
        margin-bottom: 0px;
        padding-bottom: 0px; }
        body main .whatsnext__container .whatsnext__title {
          font-size: 40px;
          font-family: 'Hind Madurai', sans-serif;
          color: #7e1414;
          margin-left: 45px;
          margin-top: 35px;
          letter-spacing: 7.5px; }
        body main .whatsnext__container .whatsnext__title2 {
          margin-top: -35px;
          margin-left: 25px;
          text-align: left;
          width: 90%;
          line-height: 1.4;
          color: #5c5c5c;
          padding: 20px;
          font-family: 'Raleway', sans-serif;
          font-size: 23px; }
        body main .whatsnext__container .whatsnext__box {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 50vh 50vh;
          grid-gap: 7px;
          top: -20px;
          padding: 5px;
          width: 95%;
          position: relative;
          margin: 0 auto; }
          body main .whatsnext__container .whatsnext__box .show1 {
            background: url("../images/img2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            font-size: 15px;
            padding-left: 10px;
            padding-top: 10px;
            padding-right: 10px;
            font-weight: bold;
            font-family: 'Raleway', sans-serif;
            color: white;
            height: 50%; }
          body main .whatsnext__container .whatsnext__box .show1:hover {
            transform: scale(1.025);
            transition: 0.5s;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
            cursor: pointer; }
          body main .whatsnext__container .whatsnext__box .show2 {
            background: url("../images/img7.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            font-size: 18px;
            padding-left: 10px;
            padding-top: 10px;
            padding-right: 10px;
            font-weight: bold;
            font-family: 'Raleway', sans-serif;
            color: white;
            height: 50%; }
          body main .whatsnext__container .whatsnext__box .show2:hover {
            transform: scale(1.025);
            transition: 0.5s;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
            cursor: pointer; }
          body main .whatsnext__container .whatsnext__box .show3 {
            background: url("../images/img3.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            font-size: 15px;
            padding-left: 10px;
            padding-top: 10px;
            padding-right: 5px;
            font-weight: bold;
            font-family: 'Raleway', sans-serif;
            color: white;
            height: 50%; }
          body main .whatsnext__container .whatsnext__box .show3:hover {
            transform: scale(1.025);
            transition: 0.5s;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
            cursor: pointer; }
          body main .whatsnext__container .whatsnext__box .show4 {
            grid-column: 1/3;
            background: url("../images/img4.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            font-size: 20px;
            padding-left: 15px;
            padding-top: 15px;
            font-weight: bold;
            font-family: 'Raleway', sans-serif;
            color: black;
            height: 50%;
            margin-top: -150px; }
          body main .whatsnext__container .whatsnext__box .show4:hover {
            transform: scale(1.025);
            transition: 0.5s;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
            cursor: pointer; }
          body main .whatsnext__container .whatsnext__box .show5 {
            background: url("../images/img6.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            font-size: 20px;
            padding-left: 15px;
            padding-top: 15px;
            font-weight: bold;
            font-family: 'Raleway', sans-serif;
            color: white;
            height: 50%;
            margin-top: -150px; }
          body main .whatsnext__container .whatsnext__box .show5:hover {
            transform: scale(1.025);
            transition: 0.5s;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
            cursor: pointer; }
        body main .whatsnext__container .whatsnext__box__mobile {
          display: none; }
      body main footer {
        position: relative;
        justify-content: space-around;
        background: #cacaca;
        height: 200px;
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 700;
        color: #000000;
        font-family: 'Hind Madurai', sans-serif;
        gap: 30px;
        top: 50px; }
        body main footer .navUl {
          width: 500px;
          position: relative;
          left: 85px;
          top: 50px; }
          body main footer .navUl #menuFooter {
            gap: 15px;
            margin-left: -75px; }
            body main footer .navUl #menuFooter .listaFooter {
              display: block;
              position: absolute;
              margin-top: -65px;
              list-style: none;
              text-align: left;
              line-height: 2.3; }
              body main footer .navUl #menuFooter .listaFooter .links__footer {
                transition: 0.15s ease-in;
                font-size: 14px; }
              body main footer .navUl #menuFooter .listaFooter .links__footer:hover {
                color: #7e1414;
                cursor: pointer; }
        body main footer .div__footer .pFooter {
          line-height: 1.4;
          width: 100%;
          font-size: 14px;
          text-align: right;
          margin-left: -20px;
          margin-top: 30px; } }
