@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  background: #ffffff;
  width: 100%; }
  main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 1rem;
    height: 7rem; }
    main .header nav .label-menu,
    main .header nav .checkbox {
      display: none; }
    main .header nav .menu {
      list-style: none;
      display: flex;
      gap: 2rem;
      text-decoration: none; }
      main .header nav .menu a {
        text-decoration: none;
        color: #000000;
        letter-spacing: 5px;
        font-size: 20px;
        font-family: 'Hind Madurai', sans-serif; }
      main .header nav .menu a:hover {
        color: #800000;
        transition: 0.15s; }
  main .welcoming__text {
    display: flex;
    width: 100%;
    background: url("../images/lounge.png");
    padding: 5px;
    margin-top: 0px;
    line-height: 1.1; }
    main .welcoming__text .title1 {
      font-size: 80px;
      margin-left: 400px;
      margin-top: 70px;
      margin-bottom: 70px;
      margin-right: 70px;
      text-align: right;
      width: 100%;
      font-family: 'Hind Madurai', sans-serif;
      letter-spacing: 6px;
      color: white; }
    main .welcoming__text .title1 {
      text-shadow: 1px 6px 28px #3f3f3f; }
  main .membership__info .main__text .text1 {
    margin-top: 45px;
    margin-left: 60px;
    text-align: justify;
    width: 80%;
    line-height: 1.6;
    color: #5c5c5c;
    padding: 20px;
    background: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 40px; }
  main .benefits .menu__benefits {
    margin-top: 10px;
    margin-left: 150px;
    text-align: left;
    width: 75%;
    line-height: 1.8;
    color: #000000;
    font-size: 24px;
    background: #ffffff;
    font-family: 'Raleway', sans-serif; }
  main .hr1 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #a1a04c, transparent);
    margin-top: 25px; }
  main .packs .our__packs {
    font-size: 70px;
    font-family: 'Hind Madurai', sans-serif;
    color: #7e1414;
    margin-left: 80px;
    margin-top: 25px;
    letter-spacing: 10px; }
  main .main__text2 .text2 {
    margin-top: -40px;
    margin-left: 60px;
    text-align: left;
    width: 85%;
    line-height: 1.4;
    color: #5c5c5c;
    padding: 20px;
    background: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 35px; }
  main .membership__types {
    position: relative;
    margin: 0 auto;
    margin: 25px;
    margin-left: 50px;
    margin-right: 50px; }
    main .membership__types .member__type {
      display: flex;
      padding: 25px;
      font-family: 'EB Garamond', serif;
      font-size: 22px;
      line-height: 1.5;
      width: 100%;
      background: #f1f1f1;
      border-radius: 10px;
      box-shadow: 1px 2px 6px #a7a7a7;
      margin-top: 40px; }
      main .membership__types .member__type .general__text .member__text .titleM1 {
        font-family: 'Raleway', sans-serif;
        font-size: 40px; }
      main .membership__types .member__type .general__text .member__text .subtitleM2 {
        color: #a5a324;
        font-family: 'Raleway', sans-serif;
        font-size: 37.5px;
        margin-top: 15px; }
      main .membership__types .member__type .general__text .member__text .subtitleM3 {
        color: #5a5a5a;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        margin-top: 5px;
        width: 100%; }
      main .membership__types .member__type .general__text .member__text2 .menu__member {
        list-style-type: none;
        margin-top: -5px;
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        line-height: 1.8; }
      main .membership__types .member__type .button .btn1 {
        border: none;
        padding: 10px 50px 10px 50px;
        background: #a01f1f;
        font-family: 'Hind Madurai', sans-serif;
        font-size: 20px;
        color: white;
        letter-spacing: 3px;
        margin-top: 180px;
        margin-left: 100px;
        cursor: pointer; }
      main .membership__types .member__type .button .btn1:hover {
        background: #5ec466;
        transition: 0.30s;
        transform: scale(1.05); }
    main .membership__types .member__type2 {
      display: flex;
      padding: 25px;
      font-family: 'EB Garamond', serif;
      font-size: 22px;
      line-height: 1.5;
      width: 100%;
      background: #f1f1f1;
      border-radius: 10px;
      box-shadow: 1px 2px 6px #a7a7a7;
      margin-top: 40px; }
      main .membership__types .member__type2 .general__text2 .member__text__2 .titleM1 {
        font-family: 'Raleway', sans-serif;
        font-size: 40px; }
      main .membership__types .member__type2 .general__text2 .member__text__2 .subtitleM2 {
        color: #a5a324;
        font-family: 'Raleway', sans-serif;
        font-size: 37.5px;
        margin-top: 15px; }
      main .membership__types .member__type2 .general__text2 .member__text__2 .subtitleM3 {
        color: #5a5a5a;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        margin-top: 5px;
        width: 100%; }
      main .membership__types .member__type2 .general__text2 .member__text2 .menu__member {
        list-style-type: none;
        margin-top: -5px;
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        line-height: 1.8; }
      main .membership__types .member__type2 .button .btn2 {
        border: none;
        padding: 10px 50px 10px 50px;
        background: #a01f1f;
        font-family: 'Hind Madurai', sans-serif;
        font-size: 20px;
        color: white;
        letter-spacing: 3px;
        margin-top: 200px;
        margin-left: 100px;
        cursor: pointer; }
      main .membership__types .member__type2 .button .btn2:hover {
        background: #5ec466;
        transition: 0.30s;
        transform: scale(1.05); }
    main .membership__types .member__type3 {
      display: flex;
      padding: 25px;
      font-family: 'EB Garamond', serif;
      font-size: 22px;
      line-height: 1.5;
      width: 100%;
      background: #f1f1f1;
      border-radius: 10px;
      box-shadow: 1px 2px 6px #a7a7a7;
      margin-top: 40px; }
      main .membership__types .member__type3 .general__text3 .member__text3 .titleM1 {
        font-family: 'Raleway', sans-serif;
        font-size: 40px; }
      main .membership__types .member__type3 .general__text3 .member__text3 .subtitleM2 {
        color: #a5a324;
        font-family: 'Raleway', sans-serif;
        font-size: 37.5px;
        margin-top: 15px; }
      main .membership__types .member__type3 .general__text3 .member__text3 .subtitleM3 {
        color: #5a5a5a;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        margin-top: 5px;
        width: 100%; }
      main .membership__types .member__type3 .general__text3 .member__text2 .menu__member {
        list-style-type: none;
        margin-top: -5px;
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        line-height: 1.8; }
      main .membership__types .member__type3 .button .btn3 {
        border: none;
        padding: 10px 50px 10px 50px;
        background: #a01f1f;
        font-family: 'Hind Madurai', sans-serif;
        font-size: 20px;
        color: white;
        letter-spacing: 3px;
        margin-top: 200px;
        margin-left: 100px;
        cursor: pointer; }
      main .membership__types .member__type3 .button .btn3:hover {
        background: #5ec466;
        transition: 0.30s;
        transform: scale(1.05); }
  main .hr2 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #a1a04c, transparent);
    margin-top: 35px; }
  main .capsulus__text {
    display: block;
    width: 100%;
    background: url("../images/lounge2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
    line-height: 1.1;
    margin-top: 65px; }
    main .capsulus__text .title2 {
      font-size: 100px;
      margin: 0 auto;
      margin-top: 70px;
      margin-bottom: 70px;
      text-align: left;
      width: 65%;
      font-family: 'Hind Madurai', sans-serif;
      letter-spacing: 6px;
      margin-left: 85px;
      text-shadow: 1px 6px 56px black;
      color: #ffffff; }
    main .capsulus__text .title2 {
      text-shadow: 1px 6px 28px black; }
  main .hr3 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #a1a04c, transparent);
    margin-top: 35px; }
  main .more .our__terms {
    font-size: 70px;
    font-family: 'Hind Madurai', sans-serif;
    color: #7e1414;
    margin-left: 80px;
    margin-top: 45px;
    letter-spacing: 10px; }
  main .terms .text__terms {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    margin-left: 82.5px;
    margin-top: -15px; }
  main footer {
    position: relative;
    justify-content: space-evenly;
    background: #cacaca;
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    color: #000000;
    font-family: 'Hind Madurai', sans-serif;
    gap: 50px;
    margin-top: 75px; }
    main footer .navUl {
      width: 500px;
      position: relative;
      left: 65px;
      top: 50px; }
      main footer .navUl #menuFooter {
        gap: 15px;
        margin-left: -40px; }
        main footer .navUl #menuFooter .listaFooter {
          display: flex;
          gap: 30px;
          position: relative;
          top: -40px;
          margin-left: -20px;
          list-style: none;
          text-align: center; }
          main footer .navUl #menuFooter .listaFooter .links__footer {
            transition: 0.15s ease-in;
            text-decoration: none;
            color: #000000;
            font-size: 18px;
            letter-spacing: 0; }
          main footer .navUl #menuFooter .listaFooter .links__footer:hover {
            color: #7e1414;
            cursor: pointer; }
    main footer .div__footer {
      width: 500px; }
      main footer .div__footer .pFooter {
        line-height: 1.4;
        margin-top: 20px; }

@media screen and (max-width: 720px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  main {
    background: #ffffff;
    width: 100%; }
    main .header nav .label-menu {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #000000;
      padding-block: 1rem;
      cursor: pointer; }
      main .header nav .label-menu .hamburguer {
        border-top: 0.125rem solid;
        width: 1.25rem; }
      main .header nav .label-menu .hamburguer::before,
      main .header nav .label-menu .hamburguer::after {
        content: "";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s; }
    main .header nav .menu {
      display: block;
      position: absolute;
      top: 7rem;
      text-align: center;
      background: #ffffff;
      width: 100%;
      left: 0;
      height: 0;
      z-index: 1;
      transition: 0.5s;
      visibility: hidden;
      overflow-y: hidden; }
      main .header nav .menu ul li a {
        padding: 0.5rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
        border-radius: 0; }
    main .header nav .checkbox:checked ~ .menu {
      height: calc(110vh - 6rem);
      visibility: visible;
      overflow-y: auto; }
    main .header nav .checkbox:checked ~ .label-menu .hamburguer {
      border-top-color: transparent; }
    main .header nav .checkbox:checked ~ .label-menu .hamburguer::before {
      transform: rotate(135deg); }
    main .header nav .checkbox:checked ~ .label-menu .hamburguer::after {
      transform: rotate(-135deg);
      top: -0.4375rem; }
    main .welcoming__text {
      display: flex;
      width: 100%;
      background: url("../images/lounge.png");
      padding: 5px;
      margin-top: 5px;
      line-height: 1.1; }
      main .welcoming__text .title1 {
        font-size: 35px;
        margin-left: 75px;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-right: 25px;
        text-align: right;
        width: 100%;
        font-family: 'Hind Madurai', sans-serif;
        letter-spacing: 4.5px;
        color: white; }
      main .welcoming__text .title1 {
        text-shadow: 1px 6px 28px black; }
    main .membership__info .main__text .text1 {
      margin-top: 25px;
      margin-left: 25px;
      text-align: left;
      width: 94%;
      line-height: 1.4;
      color: #5c5c5c;
      padding: 20px;
      background: #ffffff;
      font-family: 'Raleway', sans-serif;
      font-size: 25px; }
    main .membership__info .benefits .menu__benefits {
      margin-top: 10px;
      margin-left: 50px;
      text-align: left;
      width: 85%;
      line-height: 1.8;
      color: #000000;
      font-size: 18px;
      background: #ffffff;
      font-family: 'Raleway', sans-serif; }
    main .packs .our__packs {
      font-size: 40px;
      font-family: 'Hind Madurai', sans-serif;
      color: #7e1414;
      margin-left: 45px;
      margin-top: 35px;
      letter-spacing: 7.5px; }
    main .main__text2 .text2 {
      margin-top: -35px;
      margin-left: 25px;
      text-align: left;
      width: 94%;
      line-height: 1.4;
      color: #5c5c5c;
      padding: 20px;
      background: #ffffff;
      font-family: 'Raleway', sans-serif;
      font-size: 23px; }
    main .membership__types {
      position: relative;
      margin: 0 auto;
      margin: 25px;
      margin-left: 45px;
      margin-right: 45px;
      margin-top: -25px; }
      main .membership__types .member__type {
        display: block;
        padding: 25px;
        font-family: 'EB Garamond', serif;
        font-size: 20px;
        line-height: 1.6;
        width: 100%;
        background: #f1f1f1;
        border-radius: 10px;
        box-shadow: 1px 2px 6px #a7a7a7;
        margin-top: 40px; }
        main .membership__types .member__type .general__text .member__text .titleM1 {
          font-family: 'Raleway', sans-serif;
          font-size: 30px;
          font-weight: 900; }
        main .membership__types .member__type .general__text .member__text .subtitleM2 {
          color: #a5a324;
          font-family: 'Raleway', sans-serif;
          font-size: 21px;
          margin-top: 5px;
          width: 100%;
          font-weight: 900; }
        main .membership__types .member__type .general__text .member__text .subtitleM3 {
          color: #5a5a5a;
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          margin-top: 10px;
          line-height: 1.4;
          width: 100%; }
        main .membership__types .member__type .general__text .member__text2 .menu__member {
          list-style-type: none;
          line-height: 1.8;
          width: 100%;
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          margin-top: -30px; }
        main .membership__types .member__type .button .btn1 {
          border: none;
          padding: 10px 50px 10px 50px;
          background: #a01f1f;
          font-family: 'Hind Madurai', sans-serif;
          font-size: 15px;
          color: white;
          letter-spacing: 3px;
          margin-top: 30px;
          margin-left: 7.5px;
          cursor: pointer; }
        main .membership__types .member__type .button .btn1:hover {
          background: #5ec466;
          transition: 0.30s;
          transform: scale(1.05); }
      main .membership__types .member__type2 {
        display: block;
        padding: 25px;
        font-family: 'EB Garamond', serif;
        font-size: 20px;
        line-height: 1.6;
        width: 100%;
        background: #f1f1f1;
        border-radius: 10px;
        box-shadow: 1px 2px 6px #a7a7a7;
        margin-top: 15px; }
        main .membership__types .member__type2 .general__text2 .member__text__2 .titleM1 {
          font-family: 'Raleway', sans-serif;
          font-size: 30px;
          font-weight: 900; }
        main .membership__types .member__type2 .general__text2 .member__text__2 .subtitleM2 {
          color: #a5a324;
          font-family: 'Raleway', sans-serif;
          font-size: 20px;
          margin-top: 5px;
          width: 100%;
          font-weight: 900; }
        main .membership__types .member__type2 .general__text2 .member__text__2 .subtitleM3 {
          color: #5a5a5a;
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          margin-top: 10px;
          line-height: 1.4;
          width: 100%; }
        main .membership__types .member__type2 .general__text2 .member__text2 .menu__member {
          list-style-type: none;
          line-height: 1.8;
          width: 100%;
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          margin-top: -30px; }
        main .membership__types .member__type2 .button .btn2 {
          border: none;
          padding: 10px 50px 10px 50px;
          background: #a01f1f;
          font-family: 'Hind Madurai', sans-serif;
          font-size: 15px;
          color: white;
          letter-spacing: 3px;
          margin-top: 30px;
          margin-left: 7.5px;
          cursor: pointer; }
        main .membership__types .member__type2 .button .btn2:hover {
          background: #5ec466;
          transition: 0.30s;
          transform: scale(1.05); }
      main .membership__types .member__type3 {
        display: block;
        padding: 25px;
        font-family: 'EB Garamond', serif;
        font-size: 20px;
        line-height: 1.6;
        width: 100%;
        background: #f1f1f1;
        border-radius: 10px;
        box-shadow: 1px 2px 6px #a7a7a7;
        margin-top: 15px; }
        main .membership__types .member__type3 .general__text3 .member__text3 .titleM1 {
          font-family: 'Raleway', sans-serif;
          font-size: 30px;
          font-weight: 900; }
        main .membership__types .member__type3 .general__text3 .member__text3 .subtitleM2 {
          color: #a5a324;
          font-family: 'Raleway', sans-serif;
          font-size: 19px;
          margin-top: 5px;
          width: 100%;
          font-weight: 900; }
        main .membership__types .member__type3 .general__text3 .member__text3 .subtitleM3 {
          color: #5a5a5a;
          font-family: 'Raleway', sans-serif;
          font-size: 18px;
          margin-top: 10px;
          line-height: 1.4;
          width: 100%; }
        main .membership__types .member__type3 .general__text3 .member__text2 .menu__member {
          list-style-type: none;
          line-height: 1.8;
          width: 100%;
          font-family: 'Raleway', sans-serif;
          font-size: 17.5px;
          margin-top: -10px; }
        main .membership__types .member__type3 .button .btn3 {
          border: none;
          padding: 10px 50px 10px 50px;
          background: #a01f1f;
          font-family: 'Hind Madurai', sans-serif;
          font-size: 15px;
          color: white;
          letter-spacing: 3px;
          margin-top: 30px;
          margin-left: 7.5px;
          cursor: pointer; }
        main .membership__types .member__type3 .button .btn3:hover {
          background: #5ec466;
          transition: 0.30s;
          transform: scale(1.05); }
    main .hr2 {
      border: 0;
      height: 2px;
      background-image: linear-gradient(to right, transparent, #a1a04c, transparent);
      margin-top: 10px; }
    main .capsulus__text {
      display: block;
      width: 100%;
      background: url("../images/lounge2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      padding: 5px;
      line-height: 1.1;
      margin-top: 55px; }
      main .capsulus__text .title2 {
        font-size: 40px;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: left;
        width: 90%;
        font-family: 'Hind Madurai', sans-serif;
        letter-spacing: 4.5px;
        margin-left: 25px;
        text-shadow: 3px 7px 56px black;
        color: #ffffff; }
      main .capsulus__text .title2 {
        text-shadow: 1px 6px 28px black; }
    main .hr3 {
      border: 0;
      height: 2px;
      background-image: linear-gradient(to right, transparent, #a1a04c, transparent);
      margin-top: 20px; }
    main .more .our__terms {
      font-size: 40px;
      font-family: 'Hind Madurai', sans-serif;
      color: #7e1414;
      margin-left: 45px;
      margin-top: 35px;
      letter-spacing: 7.5px; }
    main .terms .text__terms {
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      margin-left: 45px;
      margin-top: -15px;
      margin-right: 15px;
      width: 85%;
      line-height: 1.8; }
    main footer {
      position: relative;
      justify-content: space-around;
      background: #cacaca;
      height: 200px;
      display: flex;
      align-items: center;
      font-size: 13px;
      font-weight: 700;
      color: #000000;
      font-family: 'Hind Madurai', sans-serif;
      gap: 30px;
      margin-top: 65px; }
      main footer .navUl {
        width: 500px;
        position: relative;
        left: 85px;
        top: 50px; }
        main footer .navUl #menuFooter {
          gap: 15px;
          margin-left: -75px; }
          main footer .navUl #menuFooter .listaFooter {
            display: block;
            position: absolute;
            margin-top: -65px;
            list-style: none;
            text-align: left;
            line-height: 2.3; }
            main footer .navUl #menuFooter .listaFooter .links__footer {
              transition: 0.15s ease-in;
              font-size: 14px; }
            main footer .navUl #menuFooter .listaFooter .links__footer:hover {
              color: #7e1414;
              cursor: pointer; }
      main footer .div__footer .pFooter {
        line-height: 1.4;
        width: 100%;
        font-size: 14px;
        text-align: right;
        margin-left: -20px;
        margin-top: 30px; } }
